<%= form_with(model: hintfragment) do |form| %>
  <% if hintfragment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hintfragment.errors.count, "error") %> prohibited this hintfragment from being saved:</h2>

      <ul>
        <% hintfragment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.text_field :time %>
  </div>
<%if (hintfragment.clip.fragment rescue nil)%>
<p>voici le fragment de la partition, peut etre vous voulez ajouter des trucs pour le jouer ? <code>\lyrics { \markup { ... } }</code> sert à ajouter des trucs.</p>
<img src="<%=hintfragment.clip.fragment.getpic%>"/>
<%end%>


  <div>
    <%= form.label :key, style: "display: block" %>
    <%= form.text_field :key %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
<label for="insertdessus">

<input id="insertdessus" type="radio" checked="checked" value="^" name="whereinsert"/>
inserer dessus
</label>
<label for="insertdessous">
<input id="insertdessous" type="radio" value="_" name="whereinsert"/>
inserer dessous
</label>
<%["M", "Sp", "Fr", ")", "1/3", "H", "oH", "uH", "G"].each do |x|%>
<button type="button" data-quote='"' onclick="insertAtCaret('hintfragment_content', document.querySelector('[name=whereinsert]:checked').value+this.dataset.quote+this.innerText+this.dataset.quote);return false;">
<%= x %>
</button>
<%end%>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, style:"height:300px;width:100%;" %>
  </div>

  <div>
    <%#= form.label :clip_id, style: "display: block" %>
    <%= form.hidden_field :clip_id %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
ajouter plus de details pour le jouer, ici entrez du texte et je l'ajouterai avec un  <code>\lyrics { \markup { ... } }</code> .
    <%= form.text_area :comment, style:"height:300px;width:100%;" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<script>
	//http://www.scottklarr.com/topic/425/how-to-insert-text-into-a-textarea-where-the-cursor-is/
	function insertAtCaret(areaId,text) {
		var txtarea = document.getElementById(areaId);
		var scrollPos = txtarea.scrollTop;
		var strPos = 0;
		var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ? 
			"ff" : (document.selection ? "ie" : false ) );
		if (br == "ie") { 
			txtarea.focus();
			var range = document.selection.createRange();
			range.moveStart ('character', -txtarea.value.length);
			strPos = range.text.length;
		}
		else if (br == "ff") strPos = txtarea.selectionStart;
	
		var front = (txtarea.value).substring(0,strPos);  
		var back = (txtarea.value).substring(strPos,txtarea.value.length); 
		txtarea.value=front+text+back;
		strPos = strPos + text.length;
		if (br == "ie") { 
			txtarea.focus();
			var range = document.selection.createRange();
			range.moveStart ('character', -txtarea.value.length);
			range.moveStart ('character', strPos);
			range.moveEnd ('character', 0);
			range.select();
		}
		else if (br == "ff") {
			txtarea.selectionStart = strPos;
			txtarea.selectionEnd = strPos;
			txtarea.focus();
		}
		txtarea.scrollTop = scrollPos;
	}
</script>
