<div id="<%= dom_id hintfragment %>">
  <p>
    <strong>Time:</strong>
    <%= hintfragment.time %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= hintfragment.key %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= hintfragment.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= hintfragment.content %>
  </p>

  <p>
    <strong>Clip:</strong>
    <%= hintfragment.clip_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= hintfragment.comment %>
  </p>

</div>
