<!DOCTYPE html>
<html>
  <head>
    <title>ScoreLiveConcerto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
<div>
  <%= link_to "Back to clips", clips_path %>
  <%= link_to "Back to fragments", clips_path %>
</div>

  </body>
</html>
